.slider__area {
    overflow: hidden;
}

.slider__line {
    position: relative;
    left: 0;
    justify-content: start;
}

.inactive {
    box-shadow: inset 0 0 0 2px #CDCDCD;
}

.inactive:hover {
    cursor: default;
    background: none;
    box-shadow: inset 0 0 0 2px #CDCDCD;
    color: #CDCDCD;
}